@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray;
}

@layer utilities {
  .btn {
    @apply bg-main
        py-3
        w-full
        rounded-2xl
        text-white
        font-bold
        hover:bg-main-dark;
  }
  .input {
    @apply w-full
      bg-gray-dark
      border-gray-light border-2
      my-5
      text-white text-center
      rounded-2xl
      px-2
      py-3
      focus:outline-none 
      focus:border-main;
  }
  .item-input {
    @apply bg-gray-dark
        border-gray-light border-2
        my-5
        text-white text-center
        rounded-2xl
        px-2
        py-3
        focus:outline-none 
        focus:border-main;
  }
  .action-btn {
    @apply border-gray-light border-2 
    rounded-2xl p-2
    w-11
    cursor-pointer
    h-11
    flex 
    justify-center 
    items-center
    hover:border-main;
  }
}
